NODE_ENV=development

API_PORT=3000

POSTGRES_USER=ontapulse
POSTGRES_PASSWORD=replace-with-local-password
POSTGRES_DB=ontapulse
POSTGRES_PORT=5433
DATABASE_URL=postgresql://ontapulse:replace-with-local-password@localhost:5433/ontapulse

REDIS_PORT=6379
REDIS_URL=redis://localhost:6379

RABBITMQ_USER=ontapulse
RABBITMQ_PASSWORD=replace-with-local-password
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_URL=amqp://ontapulse:replace-with-local-password@localhost:5672
